# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: XPTO API
    contact:
        name: XPTO Team
    version: 1.0.0
servers:
    - url: https://xpto.com
      description: Servidor de produção
    - url: https://xpto.stg.com
      description: Servidor de staging
paths:
    /v1/labels:
        post:
            tags:
                - CustomService
            operationId: CustomService_CreateLabel
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/MyRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MyResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        MyRequest:
            type: object
            properties:
                id:
                    type: string
                anotherField:
                    type: string
                andOtherField:
                    type: string
        MyResponse:
            type: object
            properties:
                anyPropertie:
                    type: string
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
    securitySchemes:
        BearerAuth:
            type: http
            description: Autenticação com token JWT Bearer
            scheme: bearer
            bearerFormat: JWT
security:
    - BearerAuth: []
tags:
    - name: CustomService
externalDocs:
    description: XPTO
    url: https://docs.xpto.com
